.zh-word {
    word-break:break-all;
}
.zh-word:hover {
	background: #C3EFB2;
}
.qtip {
	min-width: 200px;
}
.qtip-title {
    font-size: 20px;
    line-height: 20px;
}
.qtip-title .pinyin {
    font-weight: normal;
}
.qtip-content {
    font-size: 16px;
    line-height: 1.3em;
    padding: 10px;
}
.qtip-content .chinese {
    font-weight: bold;
}
.qtip-content ul.english {
	list-style-type: none;
	margin-left: 5px;
	margin-bottom: 0;
}
.buttons {
    float: right;
}
.zh-btn {
    background: #5BC332;
    color: white;
    font-weight: normal;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.zh-btn:hover {
    color: white;
}

/* Selection classes */

::selection {
    background: #ffffff;
}
.easy:nth-of-type(2n)::selection {
    background: #a7ffa7;
}
.easy:nth-of-type(2n+1)::selection {
    background: #77ff77;
}
.medium:nth-of-type(2n)::selection {
    background: #ffffa7;
}
.medium:nth-of-type(2n+1)::selection {
    background: #ffff77;
}
.hard:nth-of-type(2n)::selection {
    background: #ffa7a7;
}
.hard:nth-of-type(2n+1)::selection {
    background: #ff7777;
}