<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h3>Chinese Bookmarklets</h3>

    <p>Add these bookmarklets to your browser to transform any website's text to either traditional or simplified. Also works on iOS Safari!</p>

    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://api.chineselevel.com/static/traditional.js';})();">To Traditional</a>
    <a href="javascript:(function(){document.body.appendChild(document.createElement('script')).src='http://api.chineselevel.com/static/simplified.js';})();">To Simplified</a>

</body>
</html>